@model IEnumerable<DataObjects.TournamentRequest>

@{
    ViewBag.Title = "JoinRequests";
}

<h2>JoinRequests</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TeamID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TeamID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Accept", "JoinRequests", new { tournamentID=item.TournamentID, requestID = item.TournamentRequestID, acceptance = "Accept" }) |
            @Html.ActionLink("Deny", "JoinRequests", new { tournamentID=item.TournamentID, requestID = item.TournamentRequestID, acceptance = "Deny" })
        </td>
    </tr>
}

</table>
