@model System.Data.DataTable
@using System.Data

@{
    ViewBag.Title = "All Games";
}

<h2>All Games</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>Sport Type</th>
            <th>Location</th>
            <th>Date and Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.Rows)
        {
        <tr>
            <td>@row[1]</td>
            <td>@row[2]</td>
            <td>@Convert.ToDateTime(row[3]).ToString("MM/dd/yyyy hh:mm tt") </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = row.ItemArray[0] })
            </td>
        </tr>
        }
    </tbody>

</table>
