@model DataRow
@using System.Data
@using DataObjects;

@{
    ViewBag.Title = "Details";
    Team team1 = ViewBag.Team1;
    Team team2 = ViewBag.Team2;
    IEnumerable<GameRoster> team1Roster = ViewBag.Team1Roster;
    IEnumerable<GameRoster> team2Roster = ViewBag.Team2Roster;
    string location = Model[2].ToString() + " " + Model[3].ToString();
    var team1Score = ViewBag.Team1Score;
    var team2Score = ViewBag.Team2Score;
}

<h2>Game Details</h2>

<div>
    <p>
        @Html.ActionLink("Back to List", "AllGames")
    </p>
    <h4>@team1.TeamName vs @team2.TeamName</h4>
    <div class="row">
        <div class="col-lg-4">
            @if (team1Score > team2Score)
            {
                <center><h4 style="margin-bottom: 0px; color: forestgreen">Winner!</h4></center>
            }
            <center><h3 style="margin-top: 5px">@team1.TeamName</h3></center>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Player </th>
                        <th>Position</th>
                    </tr>
                </thead>
                @foreach (var player in team1Roster)
                {
                    <tr class="">
                        <td>
                            @String.Concat(player.FirstName, " ", player.LastName)
                        </td>
                        <td>
                            @player.Description
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="col-lg-4">
            <center><h4>Game Information</h4></center>
            <br />
            @if (team1Score != null && team2Score != null)
            {
                <table class="table" align="center">
                    <thead>
                        <tr class="row">
                            <td style="text-align: center">
                                Score
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align: left; padding-left: 30px">
                                @team1Score
                            </td>
                            <td style="text-align: center">
                                To
                            </td>
                            <td style="text-align: right; padding-right: 30px">
                                @team2Score
                            </td>
                        </tr>
                    </tbody>
                </table>
            }
            <dl class="dl-horizontal" style="margin-top: 10px">
                <dt style="width: 80px; margin-bottom: 5px">
                    <b>Venue: </b>
                </dt>
                <dd style="margin-left: 90px;">
                    @Model[1].ToString()
                </dd>

                <dt style="width: 80px; margin-bottom: 5px">
                    <b>Location: </b>
                </dt>
                <dd style="margin-left: 90px">
                    @location
                </dd>


                <dt style="width: 80px; margin-bottom: 5px">
                    <b>Date: </b>
                </dt>
                <dd style="margin-left: 90px">
                    @Convert.ToDateTime(Model[4]).ToShortDateString()
                </dd>


                <dt style="width: 80px; margin-bottom: 5px">
                    <b>Time: </b>
                </dt>
                <dd style="margin-left: 90px">
                    @Convert.ToDateTime(Model[4]).ToShortTimeString()
                </dd>

                <dt style="width: 80px; margin-bottom: 5px">
                    <b>Sport: </b>
                </dt>
                <dd style="margin-left: 90px">
                    @Model[5]
                </dd>
            </dl>
        </div>
        <div class="col-lg-4">
            @if (team2Score > team1Score)
            {
                <center><h4 style="margin-bottom: 0px; color: forestgreen">Winner!</h4></center>
            }
            <center><h3 style="margin-top: 5px">@team2.TeamName</h3></center>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Player </th>
                        <th>Position</th>
                    </tr>
                </thead>
                @foreach (var player in team2Roster)
                {
                    <tr class="">
                        <td>
                            @String.Concat(player.FirstName, " ", player.LastName)
                        </td>
                        <td>
                            @player.Description
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
