@*<summary>
    /// Michael Haring
    /// Created: 2023/04/25
    ///
    /// Member details page
    ///
</summary>*@

@model MvcPresentation.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MemberID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MemberID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FamilyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FamilyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            Assigned Roles:
        </dt>
        <dd>
            <ul>
                @foreach (string r in ViewBag.Roles)
                {
                <li>
                    <strong>
                        @r @Html.ActionLink("Remove Role", "RemoveRole",
                            new { Id = Model.Id, Role = r })
                    </strong>
                    @if (r == "Admin")
                    {
                        <span style="color: red; font-weight: bold;">@ViewBag.Error</span>
                    }
                </li>
                }
            </ul>
        </dd>
        <dt>
            Unassigned Roles:
        </dt>
        <dd>
            <ul>
                @foreach (string r in ViewBag.NoRoles)
                {
                <li>
                    <strong>
                        @r @Html.ActionLink("Add Role", "AddRole",
                         new { Id = Model.Id, Role = r })
                    </strong>
                </li>
                }
            </ul>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
